@import "~antd/dist/antd.css";

/*Navigation Bar*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  margin-left: 2%;
  margin-top: 2px;
}

.navbar ul li {
  float: left;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
}

.navbar ul li a {
  display: block;
  color: #4d4d4d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar ul li a:hover:not(.active) {
  color: #1890ff;
  font-size: 14px;
}
.logo {
  margin-top: 4px;
  margin-right: 52px;
  color: #1890ff;
  font-size: 24px;
}
.loginButton {
  margin-top: 5px;
  float: right;
  margin-right: 2%;
}

/*Navigation Bar Ended*/

/*Jumbotron Start*/
.jumbotron {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-top: 10px;
}

.jumbotron-image {
  margin-left: 48%;
}

.jumbotron-searchbar {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 2%;
}

.jumbotron input[type="text"] {
  border: 1px solid #1890ff;
  border-radius: 12px;
  width: 190%;
  height: 35px;
  padding-left: 20px;
  text-transform: capitalize;
  font-size: 18px;
}

/*Jumbotron End*/

.courseCard {
  display: flex;
}
.coursePhoto {
  flex: 1;
}

.courseContent {
  flex: 3;
  text-align: center;
}

.courseSection {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
}
.courseSectionContent {
  display: flex;
  margin: auto;
}

.courseInstitute {
  display: flex;
}
.courseInstitute {
  margin-top: -2px;
  margin-left: 35px;
}

.courseInstituteName {
  margin-top: 2%;
  margin-left: 5px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 15px;
}

.horizontalContent {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: -25px;
  margin-left: -10px;
  padding-bottom: 15px;
  scrollbar-width: none;
}
.horizontalContent::-webkit-scrollbar {
  display: none;
}

.horizontalContentCardGroup {
  display: inline-block;
}

.horizontalContentCards {
  display: flex;
}

.horizontalCourseCard {
  margin: 5px;
}

.courseSectionContentImageProject {
  margin-left: 10%;
}
.courseSectionContentImageAssignment {
  margin-left: 25%;
}
.courseSectionContentHeader {
  margin-top: 2%;
  margin-left: 2%;
  letter-spacing: -1px;
}

.courseAlignLeft {
  margin-left: -15px;
  margin-top: 2px;
}

.starRating {
  display: flex;
  margin-top: 5%;
  margin-left: 6%;
}
.starRatingValue {
  margin-left: 2%;
  margin-top: 1.2%;
  font-size: 13px;
  font-weight: bold;
  color: #4d4d4d;
}

.starRatingValue span {
  font-weight: normal;
  color: #4d4d4d;
  font-size: 11px;
}

.coursePrice {
  font-size: 13px;
  font-weight: bold;
  color: #4d4d4d;
  margin-top: 6%;
  margin-left: 38%;
}

.coursePrice span {
  font-weight: normal;
  text-decoration: line-through;
}

.lowerSection {
  display: flex;
  margin-top: 4px;
}

.sectionButton {
  margin-top: 4.5%;
}

/*Footer*/
.footer {
  padding-left: 1.5%;
  margin-top: 10px;
}
.socialLogo ul {
  list-style-type: none;
  overflow: hidden;
  margin-top: -3%;
}

.socialLogo ul li {
  float: right;
  font-size: 17px;
}
.socialLogo ul li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.socialLogo ul li a:hover {
  color: #1890ff;
  font-size: 18px;
}
